<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navbar.html %}
    {% include top.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}

        {% for post in site.posts %}
            {% if page.previewing == "*" or post.tags contains page.previewing %}
            {% assign prefix = post.preview | truncate: 4, '' %}
            {% cycle 'add row' : '<div class="row">', nil, nil %}
                <div class="col-sm-4">
                    <div class="preview-panel">
                        <a href="{{site.baseurl}}{{ post.url }}">
                            {% if prefix ==  'http' %}
                            <img src="{{ post.preview }}">
                            {% else %}
                            <img src="{{ site.assets | liquify }}{{ post.preview }}">
                            {% endif %}
                        </a>
                        {{ post.title }}
                   </div>
                </div>
            {% cycle 'end row' : nil, nil, '</div>' %}
            {% endif %}
        {% endfor %}
        {% cycle 'end row' : nil, '</div>', '</div>' %}
      </div>
    </div>

    {% include contacts.html %}
    {% include copyright.html %}
    {% include tracking.html %}

  </body>

</html>
